@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
:root {
    --color01: #fdcd02;
    --color02: #33322B;
    --color03: #AA9739;
    --color04: #555039;
    --color05: #f2f2f2;
    --font01: "Open Sans", sans-serif;
    --font02: Oswald, sans-serif;
}
/* cabeçalho */
#cabecalho-principal {
    text-align: center;
    background-color: var(--color02);
    color: var(--color05);
}
#cabecalho-principal #titulo-principal{
    padding: 10px;
    font-family: var(--font02);
    text-shadow: 2px 2px #000000a4;
    padding-bottom: 3em;
}
#cabecalho-principal img {
    float: left;
    padding: 5%;
    margin-top: -5%;
    margin-bottom: -15%;
}
#cabecalho-principal h1 {
    padding: 10px;
    font-size: 3em;
    color: var(--color05);
}
#cabecalho-principal p {
    text-align: center;
    font-size: 1.75em;
    color: var(--color05);
}
.menu-hamburguer {
    background: none;
    border: none;
    color: var(--color05);
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
}
.menu-hamburguer:hover {
    color: #ddd;
}
.menu-hamburguer:active {
    color: #fff;
}
.menu-navegacao {
    background: linear-gradient(180deg, #33322B, #555039);
    padding: 20px;
    display: none;
}
.menu-navegacao.active {
    display: block;
}
.menu-navegacao p {
    text-align: right;
}
.menu-navegacao a {
    text-decoration: none;
    color: var(--color01);
    padding-left: 1%;
    font-family: var(--font01);
}
.menu-navegacao a:hover {
    color: var(--color03);
    transition: 0.66s;
}
/* fim cabeçalho */

/* principal */
main {
    max-width: 55%;
    margin: auto;
    padding: 1%;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    text-align: justify;
}
#sobre p {
    padding: 1%;
}
#quem-somos {
    float: right;
    padding-left: 1%;
}
#mercado {
    float: left;
    padding-right: 1%;
}
/* fim principal */

/* rodapé */
footer {
    padding: 5%;
    margin: auto;
}
footer p {
    text-align: center;
}
/* fim rodapé */